<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddc.shiro.modules.user.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.ddc.shiro.modules.user.dao.entity.User">
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="id_card_num" jdbcType="VARCHAR" property="id_card_num" />
		<result column="state" jdbcType="VARCHAR" property="state" />
	</resultMap>

	<sql id="Base_Column_List">
		uid,username,password,name,id_card_num,state
	</sql>

	<select id="findByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from
		user_info
		where username = #{userName}
	</select>

	<!-- 添加用户 -->
	<!-- 创建用户 -->
	<insert id="insert" parameterType="com.ddc.shiro.modules.user.dao.entity.User">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uid != null" >
				uid,
			</if>
			<if test="username != null and username != ''" >
				username,
			</if>
			<if test="password != null and password != ''" >
				password,
			</if>
			<if test="name != null and name != ''" >
				`name`,
			</if>
			<if test="id_card_num != null and id_card_num != ''" >
				id_card_num,
			</if>
			<if test="state != null and state != ''" >
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="uid != null" >
				#{uid},
			</if>
			<if test="username != null and username != ''" >
				#{username},
			</if>
			<if test="password != null and password != ''" >
				#{password},
			</if>
			<if test="name != null and name != ''" >
				#{name},
			</if>
			<if test="id_card_num != null and id_card_num != ''" >
				#{id_card_num},
			</if>
			<if test="state != null and state != ''" >
				#{state},
			</if>
		</trim>
	</insert>

	<!-- 删除用户 -->
	<delete id="del">
		DELETE FROM user_info WHERE username = #{username}
	</delete>



</mapper>